@model ViewModels.ChooseVoiceViewModel
@{
		Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<link rel="stylesheet" href="/Scripts/rangeslider.css">

	<link href="~/Content/style.css" rel="stylesheet" />
	<link href="~/Content/Admin/admin-font-awesome.css" rel="stylesheet" />
	<style>
		*,
		*:before,
		*:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		output {
			display: block;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			margin: 30px 0;
			width: 100%;
		}

		.u-left {
			float: left;
		}

		.u-cf:before,
		.u-cf:after {
			content: "";
			display: table;
		}

		.u-cf:after {
			clear: both;
		}

		.u-text-left {
			text-align: left;
		}

		.audio-item a {
			width: 80% !important;
			float: left;
		}

		.audio-item button {
			width: 20% !important;
			float: left;
		}

		#pause {
			display: none;
		}
	</style>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
<div class="row">
	<div class="col-md-12">
<div class="logo">
	<img src="~/Content/logo.png"/>
</div>
 
	</div>
</div>
	<div class="row userinfo question-card">
	<div class="col-md-12">
		<p>
			your questionnaire submitted successfully,
			Result: you have pain and excited
			<div class="row">
				<div class="col-md-3">
					<div class="audiogroup-card">
						<div class="audiogroup-card-head">
							Induction
							</div>
						<div class="audiogroup-card-body">
							<a href="#" class="btn btn-success">audio 1</a>
							<a href="#" class="btn btn-success">audio 2</a>
							<a href="#" class="btn btn-success">audio 3</a>
							<a href="#" class="btn btn-success">audio 4</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="audiogroup-card">
						<div class="audiogroup-card-head">
							Deepening:
						</div>
						<div class="audiogroup-card-body">
							<a href="#" class="btn btn-success">audio 1</a>
							<a href="#" class="btn btn-success">audio 2</a>
							<a href="#" class="btn btn-success">audio 3</a>
						</div>
					</div>

				</div>
				<div class="col-md-3">
					<div class="audiogroup-card">
						<div class="audiogroup-card-head">
							Therapy:
						</div>
						<div class="audiogroup-card-body">
							<a href="#" class="btn btn-success">audio 1</a>
							<a href="#" class="btn btn-success">audio 2</a>
							<a href="#" class="btn btn-success">audio 3</a>
							<a href="#" class="btn btn-success">audio 4</a>
						</div>
					</div>

				</div>
				<div class="col-md-3">
					<div class="audiogroup-card">
						<div class="audiogroup-card-head">
							ending:
						</div>
						<div class="audiogroup-card-body">
							<div class="audio-item">
								<a href="#" class="btn btn-success">audio 1</a>
								<button id="play" class="btn btn-default" type="button" onclick="play('audio')"><i class="fa fa-play"></i></button>
								<button id="pause"  class="btn btn-default" type="button" onclick="pause('audio')"><i class="fa fa-pause"></i></button>
								<audio id="audio" src="/content/music1.mp3"></audio>
							</div>
							<a href="#" class="btn btn-success">audio 2</a>
							<a href="#" class="btn btn-success">audio 3</a>
							<a href="#" class="btn btn-success">audio 4</a>
						</div>
					</div>
				</div>
			</div>
		</p>
	</div>
</div>
</div>

	<script src="~/Scripts/kendo/2017.3.913/jquery.min.js"></script>
<script>
	function play(id) {
		var audio = document.getElementById(id);
		$('#play').css('display', 'none');
		$('#pause').css('display', 'block');
		audio.play();
	}
	function pause(id) {
		var audio = document.getElementById(id);
		$('#play').css('display', 'block');
		$('#pause').css('display', 'none');
		audio.pause();
	}
</script>
</body>
</html>