@model ViewModels.DashBoardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
@section head{
	<style>
		p {
			line-height: 30px;
			font-size: 20px !important;
		}
		img {
			max-width: 100%
		}
	</style>
}
<br />
<div class="p-3">
    <div class="row">
			<div class="col-12 text-center container bg-light" style="border-radius:10px 0 0 10px !important">
				<h2>
					How can Hypnotherapy help me?
				</h2>
				<p>
					This information leaflet is designed to tell you more about hypnotherapy and how it can be used to treat irritable bowel syndrome (IBS) and related conditions. We hope you find it helpful and that it answers any of the questions that you might have. If not please contact our help line.
				</p>
				<h2>

					What is Irritable Bowel syndrome?
				</h2>
				<p>
					Irritable bowel syndrome is a condition that affects about 15% of the population. Symptoms can vary greatly from person to person, and can range from being very mild and intermittent to severe and persistent. These symptoms include abdominal pain / discomfort, bloating and disturbed bowel habit (constipation, diarrhoea or both). People may experience symptoms such as passing mucus, excess wind (flatulence), heartburn, nausea and fullness after meals, and others not related to the bowel, such as bladder symptoms, aches and pains, backache and excessive tiredness.
				</p><p>
					We do not fully understand what is going on in IBS or what causes it. Everything looks normal, for example there is no inflammation, but, for some reason, the gut is not functioning properly. Before saying a little more about that, we will consider how the gut normally works.
				</p><p>
					The Gastrointestinal Tract and how it normally works
					The gastrointestinal tract, or the gut, includes the mouth, oesophagus, stomach, small intestine, large intestine (colon, bowel), rectum and anus. (See illustration).
				</p><p>

					<img src="~/Images/Picture1.jpg" />
				<p>

					Its purpose is, of course to digest food, absorb nutrients into the blood and to eliminate waste matter through the bowel. Food moving through the gut is broken down via chewing and the grinding action of the stomach and digested by enzymes in the saliva, stomach and small intestine. The acid in your stomach is necessary for the enzymes to work here and also helps to prevent bacterial infection. The digested contents in your gut are liquid, and nutrients are absorbed from the small intestine via the blood stream in to the body. What is left is waste and is eliminated as Faeces or stools. As stools move through the large intestine, water is absorbed back into the body making the stools gradually more solid. If this movement is more rapid than normal, there is less time for water to be reabsorbed, and so the stools are softer or more liquid. If movement is too slow, more water gets reabsorbed and so the stools become harder. This partly explains what is happening when you have diarrhoea or constipation.
					Movement through the gut is produced by muscles, found along the gut from the oesophagus to the end of the bowel, which normally contract in a rhythmic, co-ordinated way, known as peristalsis. This type of muscle (smooth muscle) is also found in other internal organs such as the bladder, blood vessels and lungs, but is different from the muscles of the skeleton in several ways. One difference is that the contraction of smooth muscle is not normally under voluntary or conscious control. The gut has a very large collection of nerves and also makes many biochemical which coordinate how it works. For instance, many people experience the urge to empty their bowels shortly after a meal. This is because messages are sent from the stomach through the nerves to the colon to make it more active.
					The lining of the gut also contains many cells and nerve endings, which, for instance, detect the presence of any food or waste matter, and cells which secrete mucus to lubricate the gut, which make passage through the gut easier. When faeces are present in the colon and rectum, nerve endings in the lining of the gut are stimulated, and messages are sent back to the brain are experienced as an urge to open the bowel. Opening the bowel is, of course, largely under voluntary control, during which a ring of muscle (the external anal sphincter) relaxes, in order to pass a motion.
					</p>
					<h2>		What is happening to the gut in IBS?
				</h2>
				<p>
					People have altered patterns of colonic motility, so that instead of normal peristaltic movements, spasms or excessive contractions of the gut muscles occur. These can produce either constipation, by holding up the gut contents, or diarrhoea, causing everything to move through too quickly. These spasms can be experienced as pain and we now also know that lining of the gut is over sensitive (hypersensitive), especially in those who have diarrhoea. Symptoms appear to be the result of increased sensitivity to distension of the gut by wind, faeces and a tendency for the bowel to be over reactive to almost anything: eating, stress, emotional arousal or gaseous distension.
					</p>	<h2>		The gut, the brain and the mind
				</h2>	<p>
					We know that the gut as well as the rest of the body is influenced by the activity of the nerves and various bio-chemicals from the brain and spinal cord. These nerves (called the autonomic nervous system) supply all the internal organs in the body such as the heart, blood vessels and bronchi in the lungs. Some of these nerves (parasympathetic nerves) produce changes in the body to do with relaxation, such as slowing your heart rate. Other nerves (the sympathetic nerves) cause physiological changes for getting the body ready for action. For instance, if you run, your heart rate and breathing are faster, the bronchi in your lungs expand, the blood vessels to the muscles open up, all designed to get more oxygen to the muscles so they can work better and faster. The same changes also happen when you see something frightening or threatening, whether it is a real danger, such as someone attacking you with a knife, or a perceived threat, such as feeling nervous before giving a talk (the "fight or flight" reaction). Other changes my happen, such as the strong urge to empty your bladder or bowel. All of this happens automatically, without you having to consciously make it happen. If something happens that your mind interprets as a threat, you feel the emotion of fear or anxiety, and at the same time, your brain responds by sending out signals to the body that produce these bodily changes.
				</p>	<p>Why use hypnotherapy?</p>
				<p>
					As mentioned above, the gut is sensitive to our emotional state, just as the rest of the body is. Nearly all of us have had to rush to the loo with an attack of diarrhoea before something nerve wracking, such as an exam. The mind and body are not separate entities but are inextricably linked together. In the case of IBS, we are not saying that “it is all in the mind". Some people do notice that their symptoms are brought on or made worse by stress and worry, but for others there seems to be no such link. What we are saying is that the gut can be affected by our mind; we can use the mind to alter the way the gut works. People can learn to bring under control physiological mechanisms that are not normally under conscious control. Yogis, using advanced meditation, for example can control blood pressure, heart rate and the digestive processes. Hypnotherapy is used in much the same way, so that you are learning skills to control the gut, in a "mind over matter" approach.
				</p>
				<h2>
					What is hypnosis and how do we do it?
				</h2>
				<p>
					Some people are a little alarmed at the thought of hypnosis, so it is important to dispel any myths. Hypnosis is a mind technique, a skill that people learn so that they can use their mind in a different way to how they would normally use it. A hypnotic state or "trance" is really a state of focused attention, something that everyone does, probably many times a day, without calling it hypnosis!! Examples of this are when you read a book and create mental pictures of the various scenes or characters, or being absorbed in a film or daydreaming and you don't hear what someone says to you.
					During therapy sessions, you use this application to get to a hypnotic state intentionally. There are many ways to do this, depending on the particular person. One common way is to use a relaxation technique or ask you to imagine a particular scene to focus their attention. You are not asleep, nor are you "put under". You use the words that you hear to help you become more relaxed, comfortable and mentally absorbed. You can hear everything going on around you, although noises don't bother as much. MOST IMPORTANTLY, YOU ARE IN CONTROL! Some people have greater "natural ability" than others to create quite a profound, deeply relaxed experience for themselves, and this is probably to with their creative imagination. All hypnosis is self-hypnosis, and it is a skill that gets better with practice. Most importantly, it is not necessary to achieve a "deep" trance to benefit from therapy.
				</p>
				<h2>
					The "conscious" mind and the "unconscious" mind
				</h2>
				<p>
					Hypnosis and other mind techniques are used to gain access to, and to utilise the unconscious mental processes. We can think of the mind rather like an iceberg; the small part floating above the water is the conscious mind while the large part beneath the water is the unconscious mind. The conscious mind is whatever we have in conscious awareness i.e. our thoughts, whatever we can see, hear and feel. This, of course changes from moment to moment. It includes our logical, rational and analytical thought processes, and is probably associated with the left side of the brain. The unconscious mind, probably linked with right brain functioning, is to do with our creative imagination and intuition. It also stores our memories, the skills and habits we do automatically, such as reading and driving a car. In addition, we all hold certain beliefs and values about the world and ourselves, based on previous experiences and the influence of others, especially when we were young. These automatically affect how we think, feel and behave because we interpret whatever happens in the light of these beliefs and values. It is not what happens so much as the meaning we give it that determines how we react. For instance, one person may feel angry and another person may be amused when told the same thing by someone else, because these two people would have interpreted the same statement differently. Last but not least, the unconscious mind is concerned with controlling the body through the brain. So, when something is interpreted as frightening, the person feels fear, and the unconscious mental processes cause the brain to send messages to alter heart rate and other physiological changes.

				</p>
				<h2>
					Using Hypnotherapy to treat IBS
				</h2>
				<p>
					Professor P.J. Whorwell a consultant Physician at Wythenshawe Hospital started using hypnotherapy in the early 1980's to help patients with severe IBS symptoms that had not responded well to medication. He found that 75-80% of patients did well and they maintained improvement even after treatment had finished. Similar rates of success are still obtained today. The aim of treatment is to put the patient back in control of the gut, rather than the gut controlling the patient. Hypnotherapy is not a cure, but many people do find they have no or only mild symptoms after treatment. You have every good chance of benefiting greatly from treatment, and although there is no guarantee that you will never experience symptoms again, you will have the skills necessary to alleviate symptoms and get them under control again at any time.
					Gut Focused Hypnotherapy has been undertaken in the Hypnotherapy Unit of University Hospital of South Manchester for many years and it has never been known for IBS symptoms to become worse as a result of the form of treatment. In addition, hypnotherapy is entirely safe and there are no know side effects.
					Tests in laboratories have shown that hypnotherapy directly affects how the gut is working. It alters the motility of the gut. (how the muscles are contracting) and also alters the sensitivity of the gut. Many patients with IBS have an over sensitive gut, and this often returns to normal after a course of hypnotherapy. People also tend to feel better in themselves, are more able to cope in general and have a better quality of life.
					Hypnotherapy can be used in conjunction with all the various medications that are prescribed for the treatment of IBS. Alternatively, it can be used as a stand-alone treatment when all other measures have failed.
				</p>
				<h2>
					Outline of the treatment plan
				</h2>
				<p>
					Before you start the actual hypnotherapy program, you need to answer a number of questions. We use your answers to suggest you hypnotherapy scripts that best suiting you symptoms and also to monitor your progress during the course of hypnotherapy and assess your response to treatment at the end.
					We cannot predict just when a person will start to improve. Some people notice this after only a few sessions, while others take longer.
				</p>
				<p>
					POINTS TO REMEMBER
				</p>
				<p>
					1. If you have any questions at any time about hypnotherapy please don't hesitate to contact us.
				</p>
				<p>
					2. If you feel uncomfortable in anyway, please do whatever necessary to be in a relaxed and comfortable state and position.
				</p>
				<p>
				</p>
				<p>
					For further information regarding IBS please see: www.ibs-care.org


				</p>
				<p></p>
			</div>
       
    </div>
</div> 
 
  