@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<link rel="stylesheet" href="/Scripts/rangeslider.css">

	<link href="~/Content/style.css" rel="stylesheet" />
	@RenderSection("head", required: false)

	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">






		@Html.Partial("FrontEnd/_MenuPartial")
		@RenderBody()


	</div>

	<script src="~/Scripts/kendo/2017.3.913/jquery.min.js"></script>
	@RenderSection("scripts", required: false)
	 
</body>
</html>