<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="~/Content/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/Questions/List">start test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/UserQuestionnaires/list">test history</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/UserSelectedAudios/List2">Selected Audio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/LogOff">Sign Out</a>
            </li>

        </ul>
    </div>
</nav>
 